.hero{
    padding-left: 28px;
    padding-right: 28px;
    h1 {
        line-height: 132%;
    }
    span {
        background: #fff;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p {
        font-size: 16px;
        line-height: 140%;
        color:#fff;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .gradient-text {
        background: linear-gradient(27deg, rgba(110,129,254,1) 25%, rgba(181,169,255,1) 59%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: -200px;
    }
} 

.button-try {
    cursor: pointer;
    background: rgb(110,129,254);
    background: linear-gradient(266deg, #B5A9FF 0%, #6E81FE 101.9%);
    padding: 12px 24px;
    border-radius: 12px;
    .span-btn {
        font-weight: 600;
        background:#000;
        background-clip: text;
        font-size: 14px;
    }
}

.button-details {
    cursor: pointer;
    border: 1px solid #B5A9FF;
    padding: 12px 24px;
    border-radius: 12px;
    span {
        background: linear-gradient(27deg, rgba(110,129,254,1) 25%, rgba(181,169,255,1) 59%);
        background-clip: text;
        font-weight: 600;
        font-size: 14px;
        color: #000;
    }
}
.circle {
    margin-top: 58px;
    width: 230px;
    height: 230px;
    opacity: 0.2;
    background: linear-gradient(266deg, #B5A9FF 0%, #6E81FE 101.9%);
    border-radius: 50%;
   //z-index: 2;
    margin-top: -250px;
}
.circle-second {
    margin-top: 58px;
    width: 230px;
    height: 230px;
    opacity: 0.5;
    background: #948BFF;
    border-radius: 50%;
    filter: blur(150px);
}

.tv {
    margin-top: -200px;
}