

.container {
  margin: 0 auto;
  width: 1400px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid red;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  img{
    padding: 8px;
    width: 30%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}



.navigation {
  display: flex;
  li {
    list-style-type: none;
    margin-right: 20px;
  }
}